
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Nom de la page</th>
        <th>Contient les articles</th>
        <th>Désigné comme page d'accueil</th>
    </tr>
    </thead>
    <tbody>
    {% for page in listPage %}

    <tr>
        <td>{{ page.name }}</td>
        <td>{% if page.contentArticle == true %} Vrai {% else %} Faux {% endif %}</td>
        <td>{% if page.isHome == true %} Vrai {% else %} Faux {% endif %}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>