<h3>Liste des Pages</h3><hr>

<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Nom de la page</th>
        <th>Désignée comme page d'accueil</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for page in listPage %}
    {% if page.disabled == false %}
        <tr>
            <td>{{ page.name }}</td>
            <td>{% if page.isHome == true %} Vrai {% else %} Faux {% endif %}</td>
            <td>
                <div class="btn-group">
                    <a href="{{ path('edit_page', { 'id' : page.id }) }}" class="editPageForm btn btn-default">Editer</a>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" data-backdrop="false" data-target="#formSupPage{{ page.id }}" href="" class="">Supprimer</a></li>
                    </ul>
                    {{ include("SfCmsProjectCmsBundle:Page:windowsSuppressPage.html.twig") }}
                </div>
            </td>
        </tr>
    {% endif %}


    {% endfor %}
    </tbody>
</table>

