<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} Sf_Cms_Project {% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% block head %} {% endblock %} {% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-HzUaiJdCTIY/RL2vDPRGdEQHHahjzwoJJzGUkYjHVzTwXFQ2QN/nVgX7tzoMW3Ov" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> {% endblock %}


</head>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="">Sf_Cms_Project</a>
            </div>
            <div class="collapse navbar-collapse" id="navBar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href=""><i class="fa fa-home" aria-hidden="true"></i> Accueil</a></li>
                    <!--<li class=""><a href=""><i class="fa fa-lock" aria-hidden="true"></i></a></li>-->
                </ul>
            </div>
        </div>
    </nav>

</header>

<body>

    {% block connection %} {% endblock %} {% block body %}



</body>
{% endblock %}
<footer>

</footer>


<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% javascripts filter = 'jsqueeze' 'bundles/SfCmsProjectCms/js/main.js' %}
<script type="text/javascript" src="{{ asset_url }}">
</script> {% endjavascripts %}
{% block javascript %} {% endblock %}
</html>